<ion-content class="login-content">

  <div class="login-container">

    <img src="assets/logo.png" alt="Q-Projetos" class="logo">
    <h1 class="welcome-title">Bem-vindo(a)!</h1>

//coloquei isso
<p class="welcome-subtitle">
  Faça login para acessar sua conta
</p>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Email</label>

        <ion-item lines="none" class="custom-input">

          <ion-icon fill="solid" name="person" size="small" color="white"></ion-icon>
          <ion-input
            type="email"

            placeholder="Digite seu email"
            formControlName="email">
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Senha</label>

        <ion-item lines="none" class="custom-input">
          <ion-icon   fill="solid" name="lock-closed" size="small" color="white"></ion-icon>
          <ion-input
            type="password"
            placeholder="Digite sua senha"
            formControlName="password">
          </ion-input>
        </ion-item>
      </div>
      //coloquei isso
      <p class="forgot-password">
        Esqueceu sua senha?
      </p>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>


      <ion-button
        type="submit"
        expand="block"
        class="login-button">

        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>

        <span *ngIf="!isLoading">Entrar</span>

      </ion-button>

      <div class="divider">
        <span>ou continue com</span>
      </div>

      <div class="google-login">
        <img src="assets/google.webp" alt="Google">

        <span>Entrar com Google</span>
      </div>

      <div class="register-text">

        <span>Não tem uma conta? </span>

        <a routerLink="/register">Cadastre-se</a>

      </div>

    </form>


  </div>

</ion-content>
