.menu-content {
  --background: #f4f4f4;
}

ion-menu {
  --width: 270px;
}

ion-menu ion-content {
  --background: #f4f4f4 !important;
}

ion-menu ion-list {
  background: transparent !important;
  padding-top: 12px;
}

ion-menu::part(backdrop) {
  background: transparent !important;
  opacity: 0 !important;
}

ion-menu::part(container) {
  box-shadow: none !important;
  background: #f4f4f4 !important;
}

ion-menu ion-item {
  --background: #ffffff !important;
  --background-hover: #f3f4f6 !important;
  --background-focused: #f3f4f6 !important;
  --background-activated: #f3f4f6 !important;
  margin: 12px;
  border-radius: 16px;
  --padding-start: 14px;
  border: 1px solid #dcdcdc;
  color: #666;
}

ion-menu ion-icon {
  color: #8a8a8a;
}

.logout-container {
  padding: 14px;
  margin-top: 10px;
}

.logout-container ion-button {
  height: 52px;
  --border-radius: 16px;
  --background: white;
  --color: #ef4444;
  --border-color: #ef4444;
  --border-radius: 16px;
}

ion-menu-button {
  --color: black !important;
}

.logout-container ion-button ion-icon {
  color: #ef4444 !important;
}

.submenu {
  padding-left: 12px;
  margin-bottom: 8px;
}

.submenu ion-item {
  --background: #f8f9fa;
  margin: 4px 12px;
  border-radius: 12px;
}

.submenu h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.submenu p {
  margin-top: 4px;
  font-size: 12px;
  color: #6b7280;
}