<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="title-center">
      Q-Projetos
    </ion-title>

    <ion-buttons slot="end">

      <!-- <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->

      <ion-avatar class="avatar">
        <img src="" />
      </ion-avatar>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="dashboard-container">

    <!-- TÍTULO -->
    <h2 class="titulo-bar">Administrador</h2>

    <!-- CARDS -->
    <div class="stats-grid">

      <ion-card button class="stat-card" (click)="toggleProjetos()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="document-text"></ion-icon>
          </div>

          <div>
            <h1>{{ projetos.length }}</h1>
            <p>Projetos cadastrados</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="togglePublicados()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="checkmark"></ion-icon>
          </div>

          <div>
            <h1>{{ projetosPublicados.length }}</h1>
            <p>Projetos publicados</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="togglePendentes()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="time"></ion-icon>
          </div>

          <div>
            <h1>{{ projetosPendentes.length }}</h1>
            <p>Pendentes de moderação</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="toggleEncerrados()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="lock-closed"></ion-icon>
          </div>

          <div>
            <h1>{{ projetosEncerrados.length }}</h1>
            <p>Projetos encerrados</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="toggleLeads()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="people"></ion-icon>
          </div>

          <div>
            <h1>{{ leads.length }}</h1>
            <p>Leads (Interesses)</p>
          </div>

        </ion-card-content>
      </ion-card>

    </div>

    <!-- TODOS OS PROJETOS -->
    <div class="section" *ngIf="mostrarProjetos">
      <div class="section-title">
        <h2>Projetos cadastrados</h2>
        <span (click)="toggleProjetos()">Fechar</span>
      </div>

      <ion-text color="medium" *ngIf="isLoading">
        <p>Carregando projetos...</p>
      </ion-text>

      <ion-text color="danger" *ngIf="errorMessage && !isLoading">
        <p>{{ errorMessage }}</p>
      </ion-text>

      <ion-text color="medium" *ngIf="!isLoading && projetos.length === 0 && !errorMessage">
        <p>Nenhum projeto encontrado.</p>
      </ion-text>

      <ion-card
        class="project-card"
        *ngFor="let projeto of projetos">

        <div class="project-content">
          
          <div class="project-info">
            <div class="project-header">
              <h3>
                {{ projeto.name }}
              </h3>
              <span
              class="status"
              [ngClass]="{
                'published': projeto.statusModeracao === 'PUBLICADO',
                'pending': projeto.statusModeracao === 'PENDENTE',
                'encerrado': projeto.statusModeracao === 'ENCERRADO'
              }">
              {{ projeto.statusModeracao }}
            </span>
            </div>
            <p>
              {{ projeto.description }}
            </p>
            <p>
              <strong>Tipo:</strong> {{ projeto.tipo }}
            </p>

            <p>
              <strong>Modalidade:</strong> {{ projeto.modalidade }}
            </p>

            <p>
              <strong>Vagas:</strong> {{ projeto.vagas }}
            </p>
          </div>
          <ion-button
            fill="clear"
            class="menu-btn"
            (click)="abrirMenuProjeto(projeto)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <!-- PUBLICADOS -->
    <div class="section" *ngIf="mostrarPublicados">
      <div class="section-title">
        <h2>Projetos publicados</h2>
        <span (click)="togglePublicados()">Fechar</span>
      </div>

      <ion-card
        class="project-card"
        *ngFor="let projeto of projetosPublicados">
        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>
                {{ projeto.name }}
              </h3>
              <span
              class="status"
              [ngClass]="{
                'published': projeto.statusModeracao === 'PUBLICADO',
                'pending': projeto.statusModeracao === 'PENDENTE',
                'encerrado': projeto.statusModeracao === 'ENCERRADO'
              }">
              {{ projeto.statusModeracao }}
            </span>
            </div>

            <p>
              {{ projeto.description }}
            </p>

            <p>
              <strong>Tipo:</strong> {{ projeto.tipo }}
            </p>

            <p>
              <strong>Modalidade:</strong> {{ projeto.modalidade }}
            </p>

            <p>
              <strong>Vagas:</strong> {{ projeto.vagas }}
            </p>
          </div>
          <ion-button
            fill="clear"
            class="menu-btn"
            (click)="abrirMenuProjeto(projeto)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <!-- PENDENTES -->
    <div class="section" *ngIf="mostrarPendentes">

      <div class="section-title">
        <h2>Pendentes de moderação</h2>
        <span (click)="togglePendentes()">Fechar</span>
      </div>

      <ion-card
        class="project-card"
        *ngFor="let projeto of projetosPendentes">

        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>
                {{ projeto.name }}
              </h3>
              <span
              class="status"
              [ngClass]="{
                'published': projeto.statusModeracao === 'PUBLICADO',
                'pending': projeto.statusModeracao === 'PENDENTE',
                'encerrado': projeto.statusModeracao === 'ENCERRADO'
              }">
              {{ projeto.statusModeracao }}
            </span>
            </div>

            <p>
              {{ projeto.description }}
            </p>

            <p>
              <strong>Tipo:</strong> {{ projeto.tipo }}
            </p>

            <p>
              <strong>Modalidade:</strong> {{ projeto.modalidade }}
            </p>

            <p>
              <strong>Vagas:</strong> {{ projeto.vagas }}
            </p>
          </div>

          <ion-button
            fill="clear"
            class="menu-btn"
            (click)="abrirMenuProjeto(projeto)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <!-- ENCERRADOS -->
    <div class="section" *ngIf="mostrarEncerrados">
      <div class="section-title">
        <h2>Projetos encerrados</h2>
        <span (click)="toggleEncerrados()">Fechar</span>
      </div>

      <ion-card
        class="project-card"
        *ngFor="let projeto of projetosEncerrados">

        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>{{ projeto.name }}</h3>
              <span class="status encerrado">
                {{ formatStatus(projeto.status) }}
              </span>
            </div>

          </div>

        </div>

      </ion-card>

    </div>

    <!-- LEADS -->

    <div class="section" *ngIf="mostrarLeads">

      <div class="section-title">
        <h2>Leads(interesses)</h2>
        <span (click)="toggleLeads()">Fechar</span>
      </div>

      <ion-card *ngFor="let lead of leads">
        <ion-card-header>
          <ion-card-title>
            {{ lead.nome }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <p>
            <strong>Projeto:</strong>
            {{ lead.tituloProjeto }}
          </p>

          <p>
            <strong>Email:</strong>
            {{ lead.email }}
          </p>

          <p>
            <strong>Modalidade:</strong>
            {{ lead.modalidadePretendida }}
          </p>

          <p>
            <strong>Série/Período:</strong>
            {{ lead.seriePeriodo }}
          </p>

        </ion-card-content>

      </ion-card>
    </div>
  </div>

  <!-- FAB BUTTON -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="fab-dark"
      routerLink="">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button class="fab-dark"
      routerLink="">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab-list>

</ion-fab>

</ion-content>   

<!-- FOOTER -->

<ion-footer>
  <ion-tab-bar slot="bottom" class="custom-tabbar">

    <ion-tab-button routerLink="/administrator"
    routerLinkActive="active-tab">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/adm-users">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Usuários</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/adm-more">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>
