<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="title-center">
      Q-Projetos
    </ion-title>

   <ion-icon
  name="person-circle-outline"
  class="header-avatar-icon" slot="end">
</ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="dashboard-container">

    <h2 class="titulo-bar">Coordenador</h2>

    <div class="stats-grid">

      <ion-card button class="stat-card" (click)="toggleMeusProjetos()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="folder-open-outline"></ion-icon>
          </div>

          <div>
            <h1>{{ qtdProjetosMeus }}</h1>
            <p>Meus Projetos</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="toggleInteressados()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="people-outline"></ion-icon>
          </div>

          <div>
            <h1>{{ qtdInteressados }}</h1>
            <p>Interessados</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="toggleProjetosAtivos()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <div>
            <h1>{{ qtdProjetosAtivos }}</h1>
            <p>Projetos Ativos</p>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card class="stat-card" (click)="toggleProjetosEncerrados()">
        <ion-card-content>

          <div class="icon blue">
            <ion-icon name="close-circle-outline"></ion-icon>
          </div>

          <div>
            <h1>{{ qtdProjetosEncerrados }}</h1>
            <p>Projetos Encerrados</p>
          </div>

        </ion-card-content>
      </ion-card>

    </div>

    <div class="section" *ngIf="mostrarMeusProjetos">
      <div class="section-title">
        <h2>Meus Projetos</h2>
        <span (click)="toggleMeusProjetos()">Fechar</span>
      </div>

      <ion-card class="project-card" *ngFor="let projeto of meusProjetos">
        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>{{ projeto.titulo }}</h3>
              <span
                class="status"
                [ngClass]="{
                  'published': projeto.status === 'Publicado',
                  'pending': projeto.status === 'Pendente',
                  'encerrado': projeto.status === 'Encerrado'
                }">
                {{ projeto.status }}
              </span>
            </div>
            <p>{{ projeto.categoria }}</p>
            <p><strong>Vagas:</strong> {{ projeto.vagas }}</p>
            <p><strong>Inscrições:</strong> {{ projeto.inscricoes }}</p>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="section" *ngIf="mostrarProjetosAtivos">
      <div class="section-title">
        <h2>Projetos Ativos</h2>
        <span (click)="toggleProjetosAtivos()">Fechar</span>
      </div>

      <ion-card class="project-card" *ngFor="let projeto of projetosAtivos">
        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>{{ projeto.titulo }}</h3>
              <span
                class="status"
                [ngClass]="{
                  'published': projeto.status === 'Publicado',
                  'pending': projeto.status === 'Pendente',
                  'encerrado': projeto.status === 'Encerrado'
                }">
                {{ projeto.status }}
              </span>
            </div>
            <p>{{ projeto.categoria }}</p>
            <p><strong>Vagas:</strong> {{ projeto.vagas }}</p>
            <p><strong>Inscrições:</strong> {{ projeto.inscricoes }}</p>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="section" *ngIf="mostrarInteressados">
      <div class="section-title">
        <h2>Interessados</h2>
        <span (click)="toggleInteressados()">Fechar</span>
      </div>

      <ion-card class="project-card" *ngFor="let lead of leads">
        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>{{ lead.nome }}</h3>
              <span class="status published">{{ lead.status }}</span>
            </div>
            <p><strong>Projeto:</strong> {{ lead.tituloProjeto }}</p>
            <p><strong>Email:</strong> {{ lead.email }}</p>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="section" *ngIf="mostrarProjetosEncerrados">
      <div class="section-title">
        <h2>Projetos Encerrados</h2>
        <span (click)="toggleProjetosEncerrados()">Fechar</span>
      </div>

      <ion-card class="project-card" *ngFor="let projeto of projetosEncerrados">
        <div class="project-content">
          <div class="project-info">
            <div class="project-header">
              <h3>{{ projeto.titulo }}</h3>
              <span class="status encerrado">{{ projeto.status }}</span>
            </div>
            <p>{{ projeto.categoria }}</p>
            <p><strong>Vagas:</strong> {{ projeto.vagas }}</p>
            <p><strong>Inscrições:</strong> {{ projeto.inscricoes }}</p>
          </div>
        </div>
      </ion-card>
    </div>

  </div>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>


</ion-fab>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" class="custom-tabbar">

    <ion-tab-button routerLink="/projects/coordinator"
    routerLinkActive="active-tab">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>


