ion-content {
  --background: #ffffff;
  color: #000;
}
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 20px 10px;
}
.topo h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #111827;
}

.topo p {
  color: #000000;
  font-size: 14px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cards-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
 padding: 20px;
}

.card-info {
  background: rgb(255, 255, 255);
  border-radius: 18px;

  padding: 20px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-info:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-info h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000;
}

.card-info p {
  color: #6b7280;
  font-size: 14px;
}

.titulo-projetos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px 10px;
}

.titulo-projetos h2 {
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}

.titulo-projetos span {
  color: #040404;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.titulo-projetos span:hover {
  color: #2563eb;
}
.card-projeto {
  background: white;

  margin: 0 20px 16px;
  padding: 12px;

  border-radius: 18px;

  display: flex;
  gap: 12px;

  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.card-lead {
  background: white;

  margin: 0 20px 16px;
  padding: 18px;

  border-radius: 18px;

  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.card-projeto img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 14px;
}

.conteudo-projeto {
  flex: 1;
}

.linha-topo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.linha-topo h3 {
  font-size: 16px;
  font-weight: 700;
  color: #111827;
}
.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
}


.publicado {
  background: #dff7e8;
  color: #1f9d55;
}

.pendente {
  background: #fff4d9;
  color: #d48806;
}

.encerrado {
  background: #ffe5e5;
  color: #e53935;
}

.categoria {
  margin-top: 8px;
  color: #6b7280;
  font-size: 14px;
}

.infos {
  margin-top: 10px;
  font-size: 13px;
  color: #374151;
}

ion-fab-button {
  --background: #4f86f7;
  --box-shadow: none;

  width: 64px;
  height: 64px;

  box-shadow: none !important;
}
.header-custom ion-toolbar {
  --background: #ffffff !important;
  --color: #111827 !important;

  padding: 8px 10px;

  border-bottom: 1px solid #e5e7eb;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  font-size: 28px;
  color: #111827 !important;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #111827 !important;
}

.logo span {
  color: #111827 !important;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bell-icon {
  font-size: 24px;
  color: #111827 !important;
}

.header-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.card-info ion-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.icon-meus-projetos {
  color: #2563eb;
}

.icon-interessados {
  color: #16a34a;
}

.icon-ativos {
  color: #eab308;
}

.icon-encerrados {
  color: #dc2626;
}
.header-avatar-icon {
  font-size: 38px;
  color: #111827;
}
ion-footer {
  border: none;
  box-shadow: none;
}

.custom-tabbar {
  --background: #38404d;
  background: #38404d;

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  overflow: hidden;

  padding-top: 8px;
  padding-bottom: max(8px, env(safe-area-inset-bottom));
}

.custom-tabbar ion-tab-button {
  --color: #d1d5db;
  --color-selected: #2196f3;

  background: transparent;

  min-height: 60px;
}

.custom-tabbar ion-icon {
  font-size: 22px;
}

.custom-tabbar ion-label {
  font-size: 11px;
}

.tab-selected {
  --color: #2196f3;
}

.tab-selected ion-icon,
.tab-selected ion-label {
  color: #2196f3 !important;
}

ion-content::part(scroll) {
  padding-bottom: 90px;
}
.fab-custom {
  --background: #4f86f7;
  --background-hover: #4f86f7;
  --background-activated: #4f86f7;
  --background-focused: #4f86f7;

  width: 64px;
  height: 64px;

  box-shadow: 0 4px 12px rgba(79, 134, 247, 0.35);
}

.fab-custom ion-icon {
  color: #ffffff !important;
  font-size: 36px;
  font-weight: 300;
}

.fab-custom::part(native) {
  color: white !important;
}

ion-fab {
  margin-right: 16px;
  margin-bottom: 16px;
}